{% extends "app/base.html" %}


{% block content %}
   <h1>{{ word }}</h1>
   <div class="card-container">
      {% for blog in blogs %}
      <div class="card">
         <div class="card-content">
               <p><strong>{{ blog.title }}</strong></p>
               <p>{{blog.content}}</p>
               <p><strong>Posted By : </strong> {{ blog.name }}</p>
               <p><strong>Posted On : </strong> {{ blog.pub_date }}</p>
         </div>
      </div>
      {% endfor %}
   </div>

{% endblock  %}